<a href="https://colab.research.google.com/github/EZSib/data_-analytics2023/blob/main/Efim_eda_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#словарь с методами пандаса и связанные с ним библиотеки
pandas_methods = {
    "json.dump()": "Записывает объект Python в файл в формате JSON",
    "json.dumps()": "Создает JSON-строку из переданного в нее объекта",
    "json.load()": "Считывает файл в формате JSON и возвращает объекты Python",
    "json.loads()": "Преобразует JSON-строку в объекты Python",
    "df.to_json()": "Запись датафрейма в формат JSON",
    "pd.read_json()": "Чтение файла формата JSON",
    "eval()": "Функция, выполняющая строку-выражение, переданную ей в качестве обязательного аргумента, и возвращающая результат выполнения этой строки.",
    "replace()": "Возвращает копию строки, в которой все вхождения подстроки заменяются другой подстрокой",
    "split()": "Разбивает строку по указанному разделителю и возвращает список строк",
    "strip()": "Возвращает копию строки, удаляя как начальные, так и конечные символы (в зависимости от переданного строкового аргумента; по умолчанию - пробелы)",
    "apply()": "Позволяет пользователю передать функцию и применить ее к каждому отдельному значению серии Pandas",
    "rename(columns={'costs_sum': 'costs'}, inplace=True)": "Переименовывает столбец датафрейма 'costs_sum‘ в 'costs‘ (параметр inplace=True перезаписывает датафрейм)",
    "df.country.str.contains('platform')": "Проверяет все значения столбца 'country‘ датафрейма на вхождение подстроки 'platform'",
    "df.drop([3334, 3335, 3336,3337],inplace=True)": "Удаляет наблюдения датафрейма по наименованию индексов ([3334, 3335, 3336, 3337]; параметр inplace=True перезаписывает датафрейм)",

    "pd.DataFrame(data)": "Создание объекта DataFrame",
    "!gdown –id 'id файла'": "одгрузка файла в среду выполнения кода Colab с google диска",
    "from google.colab import files": " Импорт класса files из библиотеки google.colab.",
    "uploaded = files.upload()": "Импорт класса files из библиотеки google.colab. Подгрузка файла в среду выполнения кода с персонального компьютера",
    "pd.read_csv('shop_users.csv')": "Чтение файла формата csv (tsv)",
    "pd.read_excel('shop_users.xlsx')": "Чтение файла формата xlsx (xls)",
    "df.head()": "Показывает наблюдения с начала датасета (по умолчанию - 5 наблюдений)",
    "df.tail(3)": "Показывает наблюдения с конца датасета (указано 3 строки)",
    "df.sample(4)": "Показывает случайно выбранные наблюдения (указано 4 строки)",
    "type(df)": "Показывает тип данных передаваемого объекта",
    "df.size": "Показывает размеры датасета (количество ячеек: строки Х столбцы)",
    "len(df)": "Показывает длину датасета (количество наблюдений)",
    "len(df.axes[1])": "Показывает количество признаков в датасете (количество столбцов)",
    "df.shape": "Показывает размеры датасета (количество наблюдений и признаков)",
    "df.dtypes": "Показывает информацию о типах данных по каждому признаку",
    "df.info()": "Показывает общую информацию о датасете",

    "df.copy()": "Создание копии датафрейма df",
    "df.columns": "Вывод списка колонок (столбцов) датафрейма",
    "df.drop(columns=columns, inplace=True)": "Удаление столбцов датафрейма (параметр inplace=True перезаписывает датафрейм)",
    "df.duplicated()": "Проверка на дубликаты: выдает объект Series с булевыми значениями True/False",
    "df.duplicated().sum()": "Количество полных дубликатов (по умолчанию параметр keep='first‘ присваивает значение True первому из совпадений)",
    "df.duplicated(subset=['bdate', 'sex'], keep=False).sum()": "Количество дубликатов по столбцам 'bdate', 'sex’ (параметр keep=False присваивает значения True всем найденным дубликатам)",
    "df.drop_duplicates(inplace=True)": "Удаление полных дубликатов (по умолчанию параметр keep='first‘ удаляет все дубликаты, кроме первого; параметр inplace=True перезаписывает датафрейм)",
    "df.drop_duplicates(subset=['bdate', 'sex'],keep=False, inplace=True)": "Удаление дубликатов по столбцам 'bdate', 'sex’ (параметр keep=False удаляет все найденные дубликаты; параметр inplace=True перезаписывает датафрейм)",

    "df. isna() / df. isnull()": "Проверка датафрейма на пропуски",
    "df. notna() / df. notnull()": "Проверка датафрейма на заполненные значения",
    "df. isna().sum()": "Количество пропущенных значений в датафрейме",
    "df.isnull().mean()*100": "Процент пропущенных значений в датафрейме",
    "df.notna().sum()": "Количество заполненных значений в датафрейме",
    "df['costs']. isna().sum()": "Количество пропущенных значений по столбцу ‘costs’",
    "df.dropna(inplace=True)": "Удалению всех наблюдений датафрейма, где есть хотя бы одно пустое значение (параметр inplace=True перезаписывает датафрейм)",
    "df.dropna(subset=['costs', 'games'], inplace=True)": "Удаление наблюдений, у которых пропущены значения по столбцам 'costs‘ и 'games' (параметр inplace=True перезаписывает датафрейм)",
    "df['city'].fillna('Moscow‘, inplace=True)": "Заполнение пропущенных значений по столбцу 'city‘ значением 'Moscow‘ (параметр inplace=True перезаписывает датафрейм)",
    "mean = df['followers_count'].mean()": "empty",
    "df['followers_count'].fillna(mean, inplace=True)": "Заполнение пропущенных значений по столбцу 'followers_count‘ средним значением по этому столбцу (параметр inplace=True перезаписывает датафрейм)",
    "df.reset_index(drop=True, inplace=True)": "Назначение нового индексного столбца датафрейма (параметр drop=True автоматически удаляет исходный индексный столбец; параметр inplace=True перезаписывает датафрейм)",
    "df.index": "Проверка диапазона индексов",
    "pd.Series.astype(‘int’)":" переводит признак в тип данных int, используемый в Python (ошибка при наличии пропущенных значений)",
    "pd.Series.astype(‘Int64’)":" переводит признак в тип данных Int64, используемый в Pandas  (работает при наличии пропущенных значений)",
    "pd.to_numeric()":" переводит признак в числовой тип данных int64 или float64  в зависимости от подаваемых значений",
    "import datetime":" Импорт модуля datetime",
    "from datetime import datetime": "Импорт класса datetime модуля datetime",
    "pd.to_datetime()": "Переводит объект Pandas в формат datetime64",
    "pd.to_datetime(df.Series, unit='s', origin='unix')": "Переводит объект Series, значения которого закодированы в Unix time в секундах, в формат datetime64",
    "pd.Timestamp.utcfromtimestamp( df.Series)": "Переводит объект Series, значения которого закодированы в Unix time в секундах, в формат datetime64",
    "df.Series.dt.strftime('%d.%m.%Y')": "Переводит объект Series формата datetime в строковое значение в виде ДД.ММ.ГГГГ",
    "pd.Series.astype()": "Переводит признаки в типы данных, используемых в Python или Numpy (тип данных необходимо указывать в качестве параметра)",
    "pd.to_numeric(downcast=‘float’)": "Переводит признак в числовой тип данных (параметр downcast указывает на перевод в тип данных float64; без указания параметра переводит в числовой тип данных int64 или float64",
    "pd.Timestamp.today()": "Получение текущих даты и времени",
    "DatetimeObject.year": "Извлечение года из объекта формата datetime (существует большое число атрибутов)",
    "current_year - df.bdate.apply(lambda x: x.year)": "Расчет количества лет как текущий год за минусом года, извлеченного из даты рождения",
    "df['costs_to_rur'] = df['currency'].map(rates) * df['costs']": "Расчет дополнительного признака со стоимостью в единой валюте – рублях на основании словаря с  курсами валют от существующих признаков 'currency‘ и 'costs'",
    "df.sex.apply(lambda x: 1 if x == 'женский'  else 2)": "Кодирование пола (при условии, что все значения заполнены) sex_dict = {1: 'женский'  2: 'мужской', 0: 'не указан'}",
    "df.sex.apply(lambda x: sex_dict[x])": "Декодирование пола на основании словарярасшифровки",

    "df.Series.unique()": "Получение уникальных значений объекта Series  датафрейма",
    "df.explode(‘Series’, ignore_index=True)": "Трансформирует датафрейм в разрезе списков значений по признаку (параметр ignore_index=True сбрасывает исходные индексы) columns = […]",
    "df = df[columns]": "Сохраняет датафрейм, состоящий из переданного списка признаков, при этом учитывая их порядок в списке",
    "df.to_csv(‘FileName.csv’)": "Записывает датафрейм в файл формата csv",
    "df.to_excel(‘FileName.xlsx’, index=False)": "Записывает датафрейм в файл формата xlsx (параметр index=False игнорирует индексный столбец при записи)  ",

    "df.Series.str.len()": "Возвращает длины строковых значений объекта Series",
    "df.Series.str.count(‘s’)": "Возвращает количество вхождений подстроки ‘s’ в строку объекта Series",
    "df.Series.str.lower()": "Приведение строковых значений объекта Series в нижний регистр",
    "df.Series.str.upper()": "Приведение строковых значений объекта Series в верхний регистр",
    "df.Series.str.capitalize()": "Приведение первых символов строковых значений объекта Series в верхний регистр, а остальных символов – в нижний регистр",
    "df.Series.str.strip()": "Возвращает копии строки объекта Series, удаляя как начальные, так и конечные символы (в зависимости от переданного строкового аргумента; по умолчанию - пробелы)",
    "df.Series.str.lstrip()": "Возвращает копии строки объекта Series, удаляя как начальные символы (в зависимости от переданного строкового аргумента; по умолчанию - пробелы)",
    "df.Series.str.rstrip()": "Возвращает копии строки объекта Series, удаляя конечные символы (в зависимости от переданного строкового аргумента; по умолчанию - пробелы)",
    "df.Series.str.replace(‘old’, ‘new’)": "Заменяет указанную подстроку строковых значений объекта Series на новую",
    "df.Series.str.split(sep=‘sep’)": "Разделяет строки объекта Series на список подстрок по указанному разделителю (по  умолчанию – пробел)",
    "df.Series.str.cat(sep=‘sep’)": "Объединяет строки объектов Series в единое строковое значение через указанный разделитель (по умолчанию – пробел)",
    "df.Series.str. get_dummies()": "Кодирует значения объекта Series, для каждого создавая отдельный столбец",
    "df.loc[df['column_name'] == 'some_value', 'column_name'] = 'значение'": "Заменяет значение объекта Series по условию (для любого типа данных)",

    "df.loc[df.city.str.contains('petersb urg'), 'city'] = 'санкт-петербург'": "Заменяет значение признака 'city' на 'санкт-петербург' при условии, что изначальное значение по этому же признаку – содержит подстроку 'petersburg",
    "df1[df1['player_surname'] == 'GOLOVIN']": "поиск строк с Головиным в ПЗ №6)",
    "df.set_index('id', inplace=True)":  "меняем колонку index на id, inplace сохраняет изменения в датафрейме",
    "pd.read_json('partner_data_records_cp1251.json', encoding='cp1251')": "чтение файла в кодировке Windows-1251 (cp1251),encoding='UTF-8'",
    "df = pd.read_excel('partner_data.xlsx', sheet_name='partner_data1', header=0, index_col='id')": "header — строка с заголовками, index_col — колонка с индексами",
    ".iloc": "выбор элементов по индексу;",
    ".loc": "выбор элементов по названию. ",
    "df.iloc[0,0]": "элемент на позиции [0,0]",
    "df.iloc[0:3, 0]": "элементы 0, 1, 2 нулевого столбца",
    "df.iloc[:, 0]": "полный срез столбца 0",
    "df.iloc[0, :]": "полный срез строки 0",
    "df.loc[1, 'age']": "строка с id 1, столбец age",
    "df.loc[5:6, 'marital':'education']": "обе границы включаются в диапазон",
    "df.loc[[5,10], ['marital','default']]": "можно передавать списки",
    "df['age']": "один столбец",
    "df[['age', 'marital']]": "несколько столбцов"

}
# словарь с шаблонами eda
eda = {
"Шаблон применения какой-либо функции ко всем значениям колонки": '''import re
def clear_price(price):
    return int(re.sub(\'\\D\', \'\', price))
dataset[\'Очищенная цена\'] = dataset[\'Цена\'].apply(clear_price)''',
    "Шаблон сортировки по значению": '''sorted_dataset = dataset.sort_values('Очищенная цена')
sorted_dataset''',
    "Импортируем библиотеку визуализации":'''import matplotlib.pyplot as plt''',
    "Для визуального представления данных в том числе медианы, квартилей и выбросов используем boxplot": '''plt.boxplot(dataset['Номер этажа'])
plt.show()''',
    "Альтернативный способ визуализировать колонку - гистограмма":'''plt.hist(dataset['Номер этажа'], bins = 50)
plt.xlim((None,55)) # для "отрезания" от графика неинформативного
plt.show()''',
    "Создание переменной с Series":'''year_of_construction = dataset['Год постройки']''',
    "Расчет минимального и максимального значения Series":'''max_value = year_of_construction.max()
min_value = year_of_construction.min()
print('Максимальный год постройки: ', max_value, 'Минимальный год постройки: ', min_value)''',
    "Расчет среднего значения Series":'''mean_value = year_of_construction.mean()
print('Средний год постройки: ', mean_value)''',
    "Расчет медианы Series":'''median_value = year_of_construction.median()
print('Медиана года постройки: ', median_value)''',
    "Расчет 10-го и 25-го процентилей Series":'''percentile_10_value = year_of_construction.quantile(0.10)
percentile_25_value = year_of_construction.quantile(0.25)
print('10-й процентиль года постройки: ', percentile_10_value)
print('25-й процентиль года постройки: ', percentile_25_value)''',
    "Для расчета всех основных статистических показателей сразу":'''year_of_construction.describe()''',
    "Неграфический способ проанализировать колонку":'''dataset['Класс жилья'].describe()''',
    "Более полный неграфический способ":'''class_counts = dataset['Класс жилья'].value_counts()
class_counts''',
    "Круговая диаграмма":'''plt.pie(class_counts.values, labels = class_counts.index)
plt.title('Круговая диаграмма распределения классов квартир') # Добавление подписи к графику
plt.show()''',
    "Стобцевая диаграмма":'''type_counts = dataset['Тип здания'].value_counts()
plt.barh(type_counts.index, type_counts.values)
plt.title('Столбцовая диаграмма распределения типов здания')
plt.show()''',
    "Шаблона первичного анализа взаимосвязи категориальной и числовой колонок":'''dataset.groupby('Класс жилья')["Очищенная цена за м²"].describe()''',
    "Шаблон визуального анализа взаимосвязи категориальной и числовой колонок":'''import seaborn as sns
sns.boxplot(x='Класс жилья', y="Очищенная цена за м²", data=dataset)
plt.axis(ymin=0, ymax=1100000) 
plt.show()''',
    "Шаблона анализа взаимосвязи двух и более числовых колонок":'''g = sns.PairGrid(new_dataset[columns])
g.map(sns.scatterplot, alpha=0.2)''',
    "Шаблона анализа взаимосвязи двух категориальных колонок":'''import matplotlib.pyplot as plt
flat_types = dataset['Класс жилья'].unique()
flat_types = flat_types[1:]
labels = dataset['Тип здания'].unique()
colors = dict(zip(labels, plt.cm.tab20.colors[:len(labels)]))
for flat_type in flat_types: 
  df = dataset[dataset['Класс жилья']==flat_type] 
  class_counts = df['Тип здания'].value_counts()
  labels =class_counts.index
  plt.title(flat_type)
  patches, texts = plt.pie(
      class_counts.values, 
      labels = labels, 
      colors = [colors[key] for key in labels],
      textprops=dict(color="w")
      )
  plt.legend(patches, labels, title="Типы здания", loc="upper center", bbox_to_anchor=(1, 0, 0.5, 1)) 
  plt.show()''',
    "Шаблон фильтрации по одному значению в колонке":'''filtered_dataset = dataset[dataset['Этап строительства']=='Котлован']''',
    "Шаблон фильтрации числовой колонки":'''filtered_dataset = dataset[dataset['Год постройки']>2010]''',
    "Шаблон фильтрации по нескольким значениям в колонке":'''districts = ['Строгино', 'Щукино', 'Хорошёвский']
filtered_dataset = dataset[dataset['Район'].isin(districts)]''',
    "Шаблон фильтрации по нескольким колонкам":'''districts = ['Строгино', 'Щукино', 'Хорошёвский']
filtered_dataset = dataset[(dataset['Район'].isin(districts)) & (dataset['Год постройки']>2010)]''',
    "Шаблон фильтрации по всем значениям кроме заданных в фильтре":'''districts = ['Строгино', 'Щукино', 'Хорошёвский']
filtered_dataset = dataset[~(dataset['Район'].isin(districts))]''',
    "Шаблон взятия элемента по индексу":'''dataset.loc[100]''',
    "Шаблон взятия среза по промежутку":'''dataset.loc[1000:1002]''',
    "Шаблон создания нового датасета списку индексов ":'''index_list = [354,1,2]
dataset.loc[index_list].head()''',
    "Для не числовых индексов все работает аналогично":'''describe_data = dataset.describe()
describe_data.loc['max']''',
    "Шаблон для взятия среза в хаотично пронумеровнном датасете ":'''sorted_dataset = dataset.sort_values('Количество комнат', ascending=False)
sorted_dataset.iloc[:100]''',
    "Нестандартная фильтрация с помощью дополнительный функции":'''def is_address_correct(address):
  return 'Тагильская' in address
mask = dataset['Адрес'].apply(is_address_correct)
filtred_dataset = dataset[mask]''',
    "Шаблон фильтрации числовых колонок":'''dtypes = dataset.dtypes
num_dtypes = dtypes[dtypes!='object']
new_columns = num_dtypes.index
filtred_dataset = dataset[num_dtypes.index]''',
    "Шаблон взятия среднего значения цены квартир сгруппированных по значениям Этапа строительства  ":'''groups_mean_price = dataset.groupby('Этап строительства')['Очищенная цена'].mean()''',
    "Шаблон взятия среднего значения цены квартир сгруппированных по значениям колонок Этапа строительства и Класса жилья":'''
groups_mean_price = dataset.groupby(['Этап строительства', 'Класс жилья'], as_index=False)['Очищенная цена'].mean()
groups_mean_price['Очищенная цена'] = groups_mean_price['Очищенная цена'].astype(int)''',
    "Размер шрифта на диаграмме":'''params = {
          'axes.titlesize': 15,   Размер шрифта главной подписи
          'xtick.labelsize': 12,  Размер шрифта подписей тикетов оси X
          'axes.labelsize': 14    Размер шрифта подписей осей
          }
plt.rcParams.update(params)''',
    "Шаблон улучшения графика":'''import matplotlib.pyplot as plt
type_counts = dataset['Тип здания'].value_counts()
other_types = type_counts[type_counts<500]
type_counts = type_counts[type_counts>500]
type_counts['Другое'] = other_types.sum() # Замена редких значений категорией Другое
plt.style.use('seaborn') # Смена стиля всех графиков matplotlib
params = {
          'axes.titlesize': 15,   # Размер шрифта главной подписи
          'xtick.labelsize': 12,  # Размер шрифта подписей тикетов оси X
          'axes.labelsize': 14    # Размер шрифта подписей осей
          }
plt.rcParams.update(params) # Фиксация параметров
plt.ylabel('Количество квартир') # Подпись оси Y
plt.title('Диаграмма распределения типов здания') # Подпись всего графика
plt.xticks(rotation=30, ha = 'right') # Поворот на 30 градусов подписей оси X и выравнивание по правому краю
plt.bar(type_counts.index, type_counts.values, color='#03A9F4') # Кастомизация цвета
plt.show()''',
    "50 разных способов создать боксплот/диаграмму/гистаграмму":'''https://habr.com/ru/articles/468295/''',
                                                                  }
def search_in(string, dct=pandas_methods):
    '''Функция поиска совпадений по подстроке, можно писать часть названия метода/функции
    или слово/часть слова из описания этой функции/метода'''
    return_list = []
    for name, info in dct.items():
        if string.lower() in name.lower() or string.lower() in info.lower():
            return_list.append({name: info})
    print('*'*156)
    for i in return_list:
        print(*i)
        print(*(i.values()), end='\n'+156 * '-'+'\n')
# end='\n'+ max(map(lambda x: len(str(x)), return_list))*'-'+'\n'
# запросы разделены *, примеры разделены -

# **Разведочный анализ по датасету IMDb Movies: 5000 фильмов с наибольшим рейтингом. Часть 1: Обзор и предобработка данных**

![](https://adabul.com/wp-content/uploads/2020/04/diziler-360x240.jpg)

## 1. Описание датасета и задания

Представлен датасет с данными о 5000 фильмах, имеющих наибольший рейтинг на сайте IMDb (датасет выложен на платформе [Kaggle](https://www.kaggle.com/datasets/totoro29/imdb-movies)).

***Информация, содержащаяся в датасете:***
1.   Ссылка на постер фильма (poster).
2.   Наименование фильма (title).
3.   Класс фильма по рейтингу the British Board of Film Classification (BBFC) (certificate).
4.   Продолжительность фильма (runtime).
5.   Жанр фильма (genre).
6.   Рейтинг фильма на платформе IMBD (rating).
7.   Описание сюжета фильма (about).
8.   Кинорежиссер фильма (director).
9.   Актеры-звезды фильма (stars).
10.  Количество проголосовавших за фильм (votes).
11.  Доход с фильма (gross_earn).

***Задача:***
провести разведочный анализ данных, найти взаимосвязи и сформулировать выводы.

**В части 1 задания необходимо:**
1.   Выполнить обзор данных.
2.   Оценить датасет на наличие дубликатов и при необходимости обработать их.
3.   Оценить признаки на наличие пропусков и при необходимости обработать их.
4.   Привести данные к необходимому для анализа типу.
5.   Отсортировать и сохранить датасет для дальнейшего анализа.

## 2. Загрузка датасета

In [ ]:
!gdown --id 1imLd48Tn7Z2iiORJp6tKWR0whfWBrP-0

/usr/local/lib/python3.9/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1imLd48Tn7Z2iiORJp6tKWR0whfWBrP-0
To: /content/movies.csv
100% 1.89M/1.89M [00:00<00:00, 156MB/s]

## 3. Подгрузка данных в питон и начало работы с ними

Импортируйте библиотеку pandas и присвойте ей короткое название pd

In [ ]:
import pandas as pd

Откройте датасет movies.csv и сохраните его в переменную dataset

In [ ]:
dataset = pd.read_csv('movies.csv')

Проведите обзор таблицы с помощью метода head()

In [ ]:
dataset.head

<bound method NDFrame.head of                                                  poster  \
0     https://m.media-amazon.com/images/S/sash/4Fyxw...
1     https://m.media-amazon.com/images/S/sash/4Fyxw...
2     https://m.media-amazon.com/images/S/sash/4Fyxw...
3     https://m.media-amazon.com/images/S/sash/4Fyxw...
4     https://m.media-amazon.com/images/S/sash/4Fyxw...
...                                                 ...
4995  https://m.media-amazon.com/images/S/sash/4Fyxw...
4996  https://m.media-amazon.com/images/S/sash/4Fyxw...
4997  https://m.media-amazon.com/images/S/sash/4Fyxw...
4998  https://m.media-amazon.com/images/S/sash/4Fyxw...
4999  https://m.media-amazon.com/images/S/sash/4Fyxw...

                                title certificate         runtime  \
0            The Shawshank Redemption          15         142 min
1                     The Dark Knight         12A         152 min
2                           Inception         12A         148 min
3                          Fight Club          18         139 min
4                        Pulp Fiction          18         154 min
...                               ...         ...             ...
4995  Seven Brides for Seven Brothers           U         102 min
4996                  Playing It Cool          15          94 min
4997             A Moment to Remember     144 min  Drama, Romance
4998                        Hairspray          PG          92 min
4999             McCabe & Mrs. Miller           X         120 min

                          genre  rating  \
0                         Drama     9.3
1          Action, Crime, Drama     9.0
2     Action, Adventure, Sci-Fi     8.8
3                         Drama     8.8
4                  Crime, Drama     8.9
...                         ...     ...
4995     Comedy, Drama, Musical     7.3
4996            Comedy, Romance     5.9
4997                        NaN     8.1
4998      Comedy, Drama, Family     7.0
4999             Drama, Western     7.6

                                                  about           director  \
0     Two imprisoned men bond over a number of years...     Frank Darabont
1     When the menace known as the Joker wreaks havo...  Christopher Nolan
2     A thief who steals corporate secrets through t...  Christopher Nolan
3     An insomniac office worker and a devil-may-car...      David Fincher
4     The lives of two mob hitmen, a boxer, a gangst...  Quentin Tarantino
...                                                 ...                ...
4995  In 1850 Oregon, when a backwoodsman brings a w...      Stanley Donen
4996  Unrequited love motivates a guy to write about...     Justin Reardon
4997  A young couple's enduring love is tested when ...        John H. Lee
4998  A 'pleasantly plump' teenager teaches 1962 Bal...        John Waters
4999  A gambler and a prostitute become business par...      Robert Altman

                                                  stars      votes gross_earn
0     ('Tim Robbins',), ('Morgan Freeman',), ('Bob G...  26,26,905    $28.34M
1     ('Christian Bale',), ('Heath Ledger',), ('Aaro...  25,98,173   $534.86M
2     ('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...  23,04,062   $292.58M
3     ('Brad Pitt',), ('Edward Norton',), ('Meat Loa...  20,71,088    $37.03M
4     ('John Travolta',), ('Uma Thurman',), ('Samuel...  20,11,013   $107.93M
...                                                 ...        ...        ...
4995  ('Jane Powell',), ('Howard Keel',), ('Jeff Ric...     25,112     $9.40M
4996  ('Chris Evans',), ('Michelle Monaghan',), ('To...     28,515        NaN
4997  ('Jung Woo-sung',), ('Son Ye-jin',), ('Jong-ha...     23,957        NaN
4998  ('Sonny Bono',), ('Ruth Brown',), ('Divine',),...     21,536     $6.67M
4999  ('Warren Beatty',), ('Julie Christie',), ('Ren...     25,097     $8.20M

[5000 rows x 11 columns]>

## 4. Оценка размеров датасета, наличия дубликатов и пропусков

Оцените размеры датасета с помощью атрибута shape

In [ ]:
dataset.shape

(5000, 11)

Выведите информацию о датасете с помощью метода info(). Оцените признаки и типы данных, обратите внимание на пропущенные значения

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   poster       5000 non-null   object
 1   title        5000 non-null   object
 2   certificate  5000 non-null   object
 3   runtime      5000 non-null   object
 4   genre        4970 non-null   object
 5   rating       5000 non-null   float64
 6   about        4986 non-null   object
 7   director     5000 non-null   object
 8   stars        5000 non-null   object
 9   votes        5000 non-null   object
 10  gross_earn   4585 non-null   object
dtypes: float64(1), object(10)
memory usage: 429.8+ KB

Оцените наличие дубликатов в датасете с помощью метода duplicated() в связке с sum() (при необходимости исключите полные дубликаты)

In [ ]:
search_in('проп')

************************************************************************************************************************************************************
df. isna() / df. isnull()
Проверка датафрейма на пропуски
------------------------------------------------------------------------------------------------------------------------------------------------------------
df. isna().sum()
Количество пропущенных значений в датафрейме
------------------------------------------------------------------------------------------------------------------------------------------------------------
df.isnull().mean()*100
Процент пропущенных значений в датафрейме
------------------------------------------------------------------------------------------------------------------------------------------------------------
df['costs']. isna().sum()
Количество пропущенных значений по столбцу ‘costs’
------------------------------------------------------------------------------------------------------------------------------------------------------------
df.dropna(subset=['costs', 'games'], inplace=True)
Удаление наблюдений, у которых пропущены значения по столбцам 'costs‘ и 'games' (параметр inplace=True перезаписывает датафрейм)
------------------------------------------------------------------------------------------------------------------------------------------------------------
df['city'].fillna('Moscow‘, inplace=True)
Заполнение пропущенных значений по столбцу 'city‘ значением 'Moscow‘ (параметр inplace=True перезаписывает датафрейм)
------------------------------------------------------------------------------------------------------------------------------------------------------------
df['followers_count'].fillna(mean, inplace=True)
Заполнение пропущенных значений по столбцу 'followers_count‘ средним значением по этому столбцу (параметр inplace=True перезаписывает датафрейм)
------------------------------------------------------------------------------------------------------------------------------------------------------------
pd.Series.astype(‘int’)
 переводит признак в тип данных int, используемый в Python (ошибка при наличии пропущенных значений)
------------------------------------------------------------------------------------------------------------------------------------------------------------
pd.Series.astype(‘Int64’)
 переводит признак в тип данных Int64, используемый в Pandas  (работает при наличии пропущенных значений)
------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
dataset.duplicated().sum()

0

P.s. бывают ситуации, когда нет необходимости удалять дубликаты, т.к. их наличие может нести ценную информацию при анализе.

Оцените наличие пропущенных значений в датасете по признаку gross_earn

In [ ]:
dataset['gross_earn'].isna().sum()

415

P.s. не стоит исключать наблюдения с пропущенными значениями на этапе предобработки датасета, если нет жесткого требования это делать. Так можно потерять информацию по другим более значимым признакам. Кроме того, их наличие может нести ценную информацию при анализе.

**Выводы:**

Напишите выводы по разделу:
1.   О размерах датасета (количество признаков и количество наблюдений).
2.   О типах данных (какие есть и какие должны быть, нужна ли предобработа).
3.   О дубликатах (их наличие, нужна ли предобработка).
4.   О пропущенных значениях (их наличие, нужна ли предобработка).
5.   О возможных проблемах, которые могут возникнуть при анализе.

## 5. Обработка колонок runtime и gross_earn: приведение к числовому типу

Приведите значения признаков runtime и gross_earn к числовому типу, исключив лишние символы

### *5.1. runtime*

Выведите Series ['runtime'] для детального просмотра данных

In [ ]:
dataset['runtime']

0              142 min
1              152 min
2              148 min
3              139 min
4              154 min
             ...
4995           102 min
4996            94 min
4997    Drama, Romance
4998            92 min
4999           120 min
Name: runtime, Length: 5000, dtype: object

По индексу 4997 в признак попало аномальное значение - Drama, Romance

Выведите уникальные значения по Series ['runtime'] с помощью метода unique()

In [ ]:
dataset['runtime'].unique()

array(['142 min', '152 min', '148 min', '139 min', '154 min', '178 min',
       '136 min', '201 min', '175 min', '164 min', '179 min', '127 min',
       '143 min', '155 min', '140 min', '165 min', '169 min', '121 min',
       '118 min', '162 min', '153 min', '151 min', '195 min', '113 min',
       '130 min', '124 min', '122 min', '194 min', '132 min', '202 min',
       '138 min', '119 min', '189 min', '180 min', '137 min', '106 min',
       '111 min', '116 min', '145 min', '110 min', '98 min', '107 min',
       '126 min', '100 min', '131 min', '133 min', '103 min', '108 min',
       '96 min', '99 min', '115 min', '88 min', '120 min', '81 min',
       '135 min', '146 min', '117 min', '104 min', '92 min', '91 min',
       '102 min', '149 min', '170 min', '112 min', '101 min', '141 min',
       '144 min', '114 min', '150 min', '90 min', '161 min', '128 min',
       '93 min', '129 min', '166 min', '147 min', '134 min', '109 min',
       '105 min', '125 min', '156 min', '123 min', '95 min', '157 min',
       '163 min', '158 min', '89 min', '187 min', '167 min', '84 min',
       '94 min', '85 min', '172 min', '160 min', '168 min', '86 min',
       '97 min', '87 min', '183 min', '188 min', '207 min', '159 min',
       '76 min', '229 min', '238 min', '83 min', '218 min', '77 min',
       '181 min', '191 min', '80 min', '212 min', '78 min', '79 min',
       '82 min', '74 min', '185 min', '75 min', '197 min', '69 min',
       '64 min', '224 min', '68 min', '210 min', '177 min', '193 min',
       '67 min', '174 min', '70 min', '220 min', '321 min', 'Comedy',
       '186 min', 'Action, Crime, Mystery', '198 min', '58 min',
       'Comedy, Drama, Romance', 'Comedy, Romance', '192 min', '242 min',
       'Horror', '204 min', 'Comedy, Drama', '171 min', '63 min',
       'Horror, Sci-Fi, Thriller', 'Action, Biography, Drama', '182 min',
       '176 min', '196 min', 'Drama', '205 min', 'Action, Drama, War',
       '71 min', '259 min', '45 min', 'Fantasy, Romance',
       'Action, Crime, Comedy', 'Crime, Drama, Mystery',
       'Action, Adventure, Drama', 'Drama, Horror, Mystery',
       'Crime, Mystery', '213 min', '72 min', '216 min',
       'Comedy, Western', '317 min', 'Adventure, Drama, Romance',
       'Fantasy, Horror', 'Adventure, Comedy', 'Comedy, Family',
       'Adventure, Comedy, Romance', '366 min', 'Action, Comedy',
       'Adventure, Comedy, Fantasy', 'Action, Crime, Thriller',
       'Action, Adventure, Sci-Fi', 'Drama, Romance'], dtype=object)

Таких аномальных значений несколько. Следует исключить их из датасета

Импортируйте библиотеку re

In [ ]:
import re

Напишите функцию, которая исключит нецифровые символы с помощью регулярных выражений

In [ ]:
def clear_runtime(runtime):
  a = re.sub('\D','',runtime)
  if a == '':
    return 0
  else: return int(a)

Примените функцию к Series ['runtime'] с помощью метода apply()

In [ ]:
search_in('appl')

In [ ]:
dataset.runtime.apply(clear_runtime)

0       142
1       152
2       148
3       139
4       154
       ...
4995    102
4996     94
4997      0
4998     92
4999    120
Name: runtime, Length: 5000, dtype: int64

Создайте столбец runtime_clear в исходном датасете, применив функцию к признаку runtime

In [ ]:
dataset['runtime_clear'] = dataset.runtime.apply(clear_runtime)

Выведите Series ['runtime_clear'] для оценки результата

In [ ]:
dataset['runtime_clear']

0       142
1       152
2       148
3       139
4       154
       ...
4995    102
4996     94
4997      0
4998     92
4999    120
Name: runtime_clear, Length: 5000, dtype: int64

По индексу 4997, где было аномальное значение, теперь на первый взгляд пустота. Проверьте, так ли это, с помощью метода isna()

In [ ]:
dataset['runtime_clear'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Name: runtime_clear, Length: 5000, dtype: bool

Количество пустых полей - 0... Посмотрите поближе, что же на самом деле записано в данном поле с помощью индексации датасет['столбец'][индекс]

In [ ]:
dataset['runtime_clear'][4997]

0

Записано нулевое строковое значение. Убедитесь в этом, проверив тип данных с помощью функции type()

In [ ]:
type(dataset['runtime_clear'][4997])

numpy.int64

Действительно, это строковое значение. Отфильтруйте датасет, исключив все такие значения с помощью оператора !=

In [ ]:
dataset = dataset[dataset['runtime_clear']!=0]

Оцените размеры датасета с помощью атрибута shape

In [ ]:
dataset.shape

(4970, 12)

А также проверьте тип данных с помощью метода info()

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4970 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster         4970 non-null   object
 1   title          4970 non-null   object
 2   certificate    4970 non-null   object
 3   runtime        4970 non-null   object
 4   genre          4970 non-null   object
 5   rating         4970 non-null   float64
 6   about          4956 non-null   object
 7   director       4970 non-null   object
 8   stars          4970 non-null   object
 9   votes          4970 non-null   object
 10  gross_earn     4574 non-null   object
 11  runtime_clear  4970 non-null   int64
dtypes: float64(1), int64(1), object(10)
memory usage: 504.8+ KB

Приведите признак runtime_clear в формат int с помощью метода astype()

In [ ]:
search_in('astype')

************************************************************************************************************************************************************
pd.Series.astype(‘int’)
 переводит признак в тип данных int, используемый в Python (ошибка при наличии пропущенных значений)
------------------------------------------------------------------------------------------------------------------------------------------------------------
pd.Series.astype(‘Int64’)
 переводит признак в тип данных Int64, используемый в Pandas  (работает при наличии пропущенных значений)
------------------------------------------------------------------------------------------------------------------------------------------------------------
pd.Series.astype()
Переводит признаки в типы данных, используемых в Python или Numpy (тип данных необходимо указывать в качестве параметра)
------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
# dataset['runtime_clear'] =dataset.runtime_clear.astype('Int64')

<ipython-input-45-dc7db9882c6c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['runtime_clear'] =dataset['runtime_clear'].astype('Int64')

Проверьте тип данных с помощью метода info()

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4970 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster         4970 non-null   object
 1   title          4970 non-null   object
 2   certificate    4970 non-null   object
 3   runtime        4970 non-null   object
 4   genre          4970 non-null   object
 5   rating         4970 non-null   float64
 6   about          4956 non-null   object
 7   director       4970 non-null   object
 8   stars          4970 non-null   object
 9   votes          4970 non-null   object
 10  gross_earn     4574 non-null   object
 11  runtime_clear  4970 non-null   int64
dtypes: float64(1), int64(1), object(10)
memory usage: 504.8+ KB

Тип данных - int64. Все получилось!

### *5.2. gross_earn*

По аналогии приведите признак gross_earn к числовому типу данных

Выведите Series ['gross_earn'] для детального просмотра данных

In [ ]:
dataset['gross_earn']

0        $28.34M
1       $534.86M
2       $292.58M
3        $37.03M
4       $107.93M
          ...
4994         NaN
4995      $9.40M
4996         NaN
4998      $6.67M
4999      $8.20M
Name: gross_earn, Length: 4970, dtype: object

Напишите функцию, которая исключит нецифровые символы с помощью регулярных выражений

In [ ]:
def clear_gross_earn(gross_earn):
  a = re.sub('[\D\.]','', gross_earn)
  if a == False:
    return 0
  else: return int(a)

Примените функцию к Series ['gross_earn'] с помощью метода apply()

In [ ]:
dataset['gross_earn'] = dataset.gross_earn.apply(clear_gross_earn)

TypeError: ignored

Ошибка TypeError, связанная с тем, что в какой-то момент в функцию попали пропущенные значения, которые она не смогла обработать

Оцените количество пропущенных значений по признаку с помощью метода isna() в связке с методом sum()

In [ ]:
dataset['gross_earn'].isna().sum()

396

Необходимо добавить в функцию обработку пустых значений. Для этого импортируйте библиотеку numpy с коротким наименованием np

In [ ]:
import numpy as np

Добавьте в функцию проверку на пустые значения с помощью метода pandas pd.isna(). В случае пропуска она должна вернуть пустое значение np.nan; в ином случае - сохранить алгоритм, написанный ранее

In [ ]:
def clear_gross_earn(gross_earn):
  if pd.isna(gross_earn):
    return np.nan
  else:
    return int((''.join(re.findall('[0-9|.]', gross_earn)).split('.'))[0])

Примените функцию к Series ['gross_earn'] с помощью метода apply()

In [ ]:
dataset['gross_earn'].apply(clear_gross_earn)

0        28.0
1       534.0
2       292.0
3        37.0
4       107.0
        ...
4994      NaN
4995      9.0
4996      NaN
4998      6.0
4999      8.0
Name: gross_earn, Length: 4970, dtype: float64

Создайте столбец gross_earn в исходном датасете, применив функцию к признаку gross_earn

In [ ]:
dataset['gross_earn_clear'] = dataset['gross_earn'].apply(clear_gross_earn)

Выведите Series ['gross_earn_clear'] для оценки результата

In [ ]:
dataset['gross_earn_clear']

0        28.0
1       534.0
2       292.0
3        37.0
4       107.0
        ...
4994      NaN
4995      9.0
4996      NaN
4998      6.0
4999      8.0
Name: gross_earn_clear, Length: 4970, dtype: float64

Приведите признак gross_earn_clear в формат int с помощью метода astype()

In [ ]:
dataset['gross_earn_clear']  =dataset.gross_earn_clear.astype('Int64')

Ошибка ValueError, связанная с тем, что метод не может перевести значения NaN (которые имеют тип данных float) в формат int. Попробуйте применить метод pandas pd.numeric(), чтобы привести данные в числовой формат numpy.float64, подходящий для дальнейшего переводы в int64

In [ ]:
# dataset['gross_earn_clear'] = pd.to_numeric(dataset['gross_earn_clear'])

Проверьте тип данных на любом значении признака с помощью функции type()

In [ ]:
type(dataset['gross_earn_clear'][0])

numpy.int64

Тип данных - numpy.float64. Приведите признак gross_earn_clear в формат Int64 с помощью метода astype()

In [ ]:
dataset['gross_earn_clear'] = pd.to_numeric(dataset['gross_earn_clear'])

Код был выполнен. Оцените результат, детально рассмотрев Series ['gross_earn_clear']

In [ ]:
dataset['gross_earn_clear']

0         28
1        534
2        292
3         37
4        107
        ...
4994    <NA>
4995       9
4996    <NA>
4998       6
4999       8
Name: gross_earn_clear, Length: 4970, dtype: Int64

Выведите информацию о датасете с помощью метода info()

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4970 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   poster            4970 non-null   object
 1   title             4970 non-null   object
 2   certificate       4970 non-null   object
 3   runtime           4970 non-null   object
 4   genre             4970 non-null   object
 5   rating            4970 non-null   float64
 6   about             4956 non-null   object
 7   director          4970 non-null   object
 8   stars             4970 non-null   object
 9   votes             4970 non-null   object
 10  gross_earn        4574 non-null   object
 11  runtime_clear     4970 non-null   int64
 12  gross_earn_clear  4574 non-null   Int64
dtypes: Int64(1), float64(1), int64(1), object(10)
memory usage: 677.5+ KB

Все получилось: признаки runtime и gross_earn в числовом формате!

## 6. Сортировка по рейтингу

Отсортируйте датасет в порядке убывания рейтинга фильмов (rating), применив метод sort_values() с переданным в него параметром ascending=False

In [ ]:
search_in('sort_values',eda)

************************************************************************************************************************************************************
Шаблон сортировки по значению
sorted_dataset = dataset.sort_values('Очищенная цена')
sorted_dataset
------------------------------------------------------------------------------------------------------------------------------------------------------------
Шаблон для взятия среза в хаотично пронумеровнном датасете
sorted_dataset = dataset.sort_values('Количество комнат', ascending=False)
sorted_dataset.iloc[:100]
------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
sorted_dataset = dataset.sort_values('rating', ascending=False)
sorted_dataset.head()

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn,runtime_clear,gross_earn_clear
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M,142,28
3788,https://m.media-amazon.com/images/S/sash/4Fyxw...,Hababam Sinifi,12A,87 min,"Comedy, Drama",9.2,"Lazy, uneducated students share a very close b...",Ertem Egilmez,"('Kemal Sunal',), ('Münir Özkul',), ('Halit Ak...","40,492",NaN,87,<NA>
9,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Godfather,X,175 min,"Crime, Drama",9.2,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"('Marlon Brando',), ('Al Pacino',), ('James Ca...","18,19,641",$134.97M,175,134
32,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Godfather: Part II,X,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,"('Al Pacino',), ('Robert De Niro',), ('Robert ...","12,49,182",$57.30M,202,57
24,https://m.media-amazon.com/images/S/sash/4Fyxw...,Schindler's List,15,195 min,"Biography, Drama, History",9.0,"In German-occupied Poland during World War II,...",Steven Spielberg,"('Liam Neeson',), ('Ralph Fiennes',), ('Ben Ki...","13,33,407",$96.90M,195,96

## 7. Переопределение индексов

Переопределите индексы по порядку с помощью метода reset_index() с переданными в него параметрами drop=True для удаления предыдущего столбца индексов и inplace=True для автоматической перезаписи таблицы

In [ ]:
sorted_dataset.reset_index(drop=True, inplace=True)
sorted_dataset.head()

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn,runtime_clear,gross_earn_clear
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M,142,28
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,Hababam Sinifi,12A,87 min,"Comedy, Drama",9.2,"Lazy, uneducated students share a very close b...",Ertem Egilmez,"('Kemal Sunal',), ('Münir Özkul',), ('Halit Ak...","40,492",NaN,87,<NA>
2,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Godfather,X,175 min,"Crime, Drama",9.2,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"('Marlon Brando',), ('Al Pacino',), ('James Ca...","18,19,641",$134.97M,175,134
3,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Godfather: Part II,X,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,"('Al Pacino',), ('Robert De Niro',), ('Robert ...","12,49,182",$57.30M,202,57
4,https://m.media-amazon.com/images/S/sash/4Fyxw...,Schindler's List,15,195 min,"Biography, Drama, History",9.0,"In German-occupied Poland during World War II,...",Steven Spielberg,"('Liam Neeson',), ('Ralph Fiennes',), ('Ben Ki...","13,33,407",$96.90M,195,96

## 8. Сохранение датасета

Сохраните датасет под названием movies_clean в формате csv и скачайте его себе на ПК. Он Понадобится Вам при дальнейшем выполнении тренировочных заданий

In [ ]:
sorted_dataset.to_csv('movies_clean.csv')

**Поздравляем! Часть 1 задания по модулю EDA выполнена! Далее Вас ожидает разведочный анализ данных!**

In [ ]:
sorted_dataset.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4970 entries, 0 to 4969
Series name: rating
Non-Null Count  Dtype
--------------  -----
4970 non-null   float64
dtypes: float64(1)
memory usage: 39.0 KB