<a href="https://colab.research.google.com/github/EZSib/data_cleaning/blob/main/%D0%95%D1%84%D0%B8%D0%BC_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Описание датасета

![](https://storage.googleapis.com/kaggle-datasets-images/1617785/2659800/c06a7a3de61a874af446f350118ca9ca/dataset-cover.jpg?t=2021-09-28-18-06-09)
<br>Представлен датасет с данными об игроках режима "Карьера" компьютерной игры FIFA 2022 (датасет выложен на платформе [Kaggle](https://www.kaggle.com/datasets/stefanoleone992/fifa-22-complete-player-dataset)).

**Формат файла** : *csv*

**Ссылка на файл** : https://drive.google.com/file/d/1TO3ZFteyoxQ1GQYrs9Y3hDSdhxXDpx1u/view?usp=share_link

In [2]:
#from functools import wraps as wp
pandas_methods={
    "json.dump()": "Записывает объект Python в файл в формате JSON",
    "json.dumps()": "Создает JSON-строку из переданного в нее объекта",
    "json.load()": "Считывает файл в формате JSON и возвращает объекты Python",
    "json.loads()": "Преобразует JSON-строку в объекты Python",
    "df.to_json()": "Запись датафрейма в формат JSON",
    "pd.read_json()": "Чтение файла формата JSON",
    "eval()": "Функция, выполняющая строку-выражение, переданную ей в качестве обязательного аргумента, и возвращающая результат выполнения этой строки.",
    "replace()": "Возвращает копию строки, в которой все вхождения подстроки заменяются другой подстрокой",
    "split()": "Разбивает строку по указанному разделителю и возвращает список строк",
    "strip()": "Возвращает копию строки, удаляя как начальные, так и конечные символы (в зависимости от переданного строкового аргумента; по умолчанию - пробелы)",
    "apply()": "Позволяет пользователю передать функцию и применить ее к каждому отдельному значению серии Pandas",
    "rename(columns={'costs_sum': 'costs'}, inplace=True)": "Переименовывает столбец датафрейма 'costs_sum‘ в 'costs‘ (параметр inplace=True перезаписывает датафрейм)",
    "df.country.str.contains('platform')": "Проверяет все значения столбца 'country‘ датафрейма на вхождение подстроки 'platform'",
    "df.drop([3334, 3335, 3336,3337],inplace=True)": "Удаляет наблюдения датафрейма по наименованию индексов ([3334, 3335, 3336, 3337]; параметр inplace=True перезаписывает датафрейм)",

    "pd.DataFrame(data)": "Создание объекта DataFrame",
    "!gdown –id 'id файла'": "одгрузка файла в среду выполнения кода Colab с google диска",
    "from google.colab import files": " Импорт класса files из библиотеки google.colab.",
    "uploaded = files.upload()": "Импорт класса files из библиотеки google.colab. Подгрузка файла в среду выполнения кода с персонального компьютера",
    "pd.read_csv('shop_users.csv')": "Чтение файла формата csv (tsv)",
    "pd.read_excel('shop_users.xlsx')": "Чтение файла формата xlsx (xls)",
    "df.head()": "Показывает наблюдения с начала датасета (по умолчанию - 5 наблюдений)",
    "df.tail(3)": "Показывает наблюдения с конца датасета (указано 3 строки)",
    "df.sample(4)": "Показывает случайно выбранные наблюдения (указано 4 строки)",
    "type(df)": "Показывает тип данных передаваемого объекта",
    "df.size": "Показывает размеры датасета (количество ячеек: строки Х столбцы)",
    "len(df)": "Показывает длину датасета (количество наблюдений)",
    "len(df.axes[1])": "Показывает количество признаков в датасете (количество столбцов)",
    "df.shape": "Показывает размеры датасета (количество наблюдений и признаков)",
    "df.dtypes": "Показывает информацию о типах данных по каждому признаку",
    "df.info()": "Показывает общую информацию о датасете",

    "df.copy()": "Создание копии датафрейма df",
    "df.columns": "Вывод списка колонок (столбцов) датафрейма",
    "df.drop(columns=columns, inplace=True)": "Удаление столбцов датафрейма (параметр inplace=True перезаписывает датафрейм)",
    "df.duplicated()": "Проверка на дубликаты: выдает объект Series с булевыми значениями True/False",
    "df.duplicated().sum()": "Количество полных дубликатов (по умолчанию параметр keep='first‘ присваивает значение True первому из совпадений)",
    "df.duplicated(subset=['bdate', 'sex'], keep=False).sum()": "Количество дубликатов по столбцам 'bdate', 'sex’ (параметр keep=False присваивает значения True всем найденным дубликатам)",
    "df.drop_duplicates(inplace=True)": "Удаление полных дубликатов (по умолчанию параметр keep='first‘ удаляет все дубликаты, кроме первого; параметр inplace=True перезаписывает датафрейм)",
    "df.drop_duplicates(subset=['bdate', 'sex'],keep=False, inplace=True)": "Удаление дубликатов по столбцам 'bdate', 'sex’ (параметр keep=False удаляет все найденные дубликаты; параметр inplace=True перезаписывает датафрейм)",

    "df. isna() / df. isnull()": "Проверка датафрейма на пропуски",
    "df. notna() / df. notnull()": "Проверка датафрейма на заполненные значения",
    "df. isna().sum()": "Количество пропущенных значений в датафрейме",
    "df.isnull().mean()*100": "Процент пропущенных значений в датафрейме",
    "df.notna().sum()": "Количество заполненных значений в датафрейме",
    "df['costs']. isna().sum()": "Количество пропущенных значений по столбцу ‘costs’",
    "df.dropna(inplace=True)": "Удалению всех наблюдений датафрейма, где есть хотя бы одно пустое значение (параметр inplace=True перезаписывает датафрейм)",
    "df.dropna(subset=['costs', 'games'], inplace=True)": "Удаление наблюдений, у которых пропущены значения по столбцам 'costs‘ и 'games' (параметр inplace=True перезаписывает датафрейм)",
    "df['city'].fillna('Moscow‘, inplace=True)": "Заполнение пропущенных значений по столбцу 'city‘ значением 'Moscow‘ (параметр inplace=True перезаписывает датафрейм)",
    "mean = df['followers_count'].mean()": "empty",
    "df['followers_count'].fillna(mean, inplace=True)": "Заполнение пропущенных значений по столбцу 'followers_count‘ средним значением по этому столбцу (параметр inplace=True перезаписывает датафрейм)",
    "df.reset_index(drop=True, inplace=True)": "Назначение нового индексного столбца датафрейма (параметр drop=True автоматически удаляет исходный индексный столбец; параметр inplace=True перезаписывает датафрейм)",
    "df.index": "Проверка диапазона индексов",
    "pd.Series.astype(‘int’)":" переводит признак в тип данных int, используемый в Python (ошибка при наличии пропущенных значений)",
    "pd.Series.astype(‘Int64’)":" переводит признак в тип данных Int64, используемый в Pandas (работает при наличии пропущенных значений)",
    "pd.to_numeric()":" переводит признак в числовой тип данных int64 или float64 в зависимости от подаваемых значений",
    "import datetime":" Импорт модуля datetime",
    "from datetime import datetime": "Импорт класса datetime модуля datetime",
    "pd.to_datetime()": "Переводит объект Pandas в формат datetime64",
    "pd.to_datetime(df.Series, unit='s', origin='unix')": "Переводит объект Series, значения которого закодированы в Unix time в секундах, в формат datetime64",
    "pd.Timestamp.utcfromtimestamp( df.Series)": "Переводит объект Series, значения которого закодированы в Unix time в секундах, в формат datetime64",
    "df.Series.dt.strftime('%d.%m.%Y')": "Переводит объект Series формата datetime в строковое значение в виде ДД.ММ.ГГГГ",
    "pd.Series.astype()": "Переводит признаки в типы данных, используемых в Python или Numpy (тип данных необходимо указывать в качестве параметра)",
    "pd.to_numeric(downcast=‘float’)": "Переводит признак в числовой тип данных (параметр downcast указывает на перевод в тип данных float64; без указания параметра переводит в числовой тип данных int64 или float64",
    "pd.Timestamp.today()": "Получение текущих даты и времени",
    "DatetimeObject.year": "Извлечение года из объекта формата datetime (существует большое число атрибутов)",
    "current_year - df.bdate.apply(lambda x: x.year)": "Расчет количества лет как текущий год за минусом года, извлеченного из даты рождения",
    "df['costs_to_rur'] = df['currency'].map(rates) * df['costs']": "Расчет дополнительного признака со стоимостью в единой валюте – рублях на основании словаря с курсами валют от существующих признаков 'currency‘ и 'costs'",
    "df.sex.apply(lambda x: 1 if x == 'женский' else 2)": "Кодирование пола (при условии, что все значения заполнены) sex_dict = {1: 'женский' 2: 'мужской', 0: 'не указан'}",
    "df.sex.apply(lambda x: sex_dict[x])": "Декодирование пола на основании словарярасшифровки",

    "df.Series.unique()": "Получение уникальных значений объекта Series датафрейма",
    "df.explode(‘Series’, ignore_index=True)": "Трансформирует датафрейм в разрезе списков значений по признаку (параметр ignore_index=True сбрасывает исходные индексы) columns = […]",
    "df = df[columns]": "Сохраняет датафрейм, состоящий из переданного списка признаков, при этом учитывая их порядок в списке",
    "df.to_csv(‘FileName.csv’)": "Записывает датафрейм в файл формата csv",
    "df.to_excel(‘FileName.xlsx’, index=False)": "Записывает датафрейм в файл формата xlsx (параметр index=False игнорирует индексный столбец при записи) ",

    "df.Series.str.len()": "Возвращает длины строковых значений объекта Series",
    "df.Series.str.count(‘s’)": "Возвращает количество вхождений подстроки ‘s’ в строку объекта Series",
    "df.Series.str.lower()": "Приведение строковых значений объекта Series в нижний регистр",
    "df.Series.str.upper()": "Приведение строковых значений объекта Series в верхний регистр",
    "df.Series.str.capitalize()": "Приведение первых символов строковых значений объекта Series в верхний регистр, а остальных символов – в нижний регистр",
    "df.Series.str.strip()": "Возвращает копии строки объекта Series, удаляя как начальные, так и конечные символы (в зависимости от переданного строкового аргумента; по умолчанию - пробелы)",
    "df.Series.str.lstrip()": "Возвращает копии строки объекта Series, удаляя как начальные символы (в зависимости от переданного строкового аргумента; по умолчанию - пробелы)",
    "df.Series.str.rstrip()": "Возвращает копии строки объекта Series, удаляя конечные символы (в зависимости от переданного строкового аргумента; по умолчанию - пробелы)",
    "df.Series.str.replace(‘old’, ‘new’)": "Заменяет указанную подстроку строковых значений объекта Series на новую",
    "df.Series.str.split(sep=‘sep’)": "Разделяет строки объекта Series на список подстрок по указанному разделителю (по умолчанию – пробел)",
    "df.Series.str.cat(sep=‘sep’)": "Объединяет строки объектов Series в единое строковое значение через указанный разделитель (по умолчанию – пробел)",
    "df.Series.str. get_dummies()": "Кодирует значения объекта Series, для каждого создавая отдельный столбец",
    "df.loc[df['column_name'] == 'some_value', 'column_name'] = 'значение'": "Заменяет значение объекта Series по условию (для любого типа данных)",

    "df.loc[df.city.str.contains('petersb urg'), 'city'] = 'санкт-петербург'": "Заменяет значение признака 'city' на 'санкт-петербург' при условии, что изначальное значение по этому же признаку – содержит подстроку 'petersburg",
    "df1[df1['player_surname'] == 'GOLOVIN']": "поиск строк с Головиным в ПЗ №6)",
    "df.set_index('id', inplace=True)": "меняем колонку index на id, inplace сохраняет изменения в датафрейме",
    "pd.read_json('partner_data_records_cp1251.json', encoding='cp1251')": "чтение файла в кодировке Windows-1251 (cp1251),encoding='UTF-8'",
    "df = pd.read_excel('partner_data.xlsx', sheet_name='partner_data1', header=0, index_col='id')": "header — строка с заголовками, index_col — колонка с индексами",
    ".iloc": "выбор элементов по индексу;",
    ".loc": "выбор элементов по названию. ",
    "df.iloc[0,0]": "элемент на позиции [0,0]",
    "df.iloc[0:3, 0]": "элементы 0, 1, 2 нулевого столбца",
    "df.iloc[:, 0]": "полный срез столбца 0",
    "df.iloc[0, :]": "полный срез строки 0",
    "df.loc[1, 'age']": "строка с id 1, столбец age",
    "df.loc[5:6, 'marital':'education']": "обе границы включаются в диапазон",
    "df.loc[[5,10], ['marital','default']]": "можно передавать списки",
    "df['age']": "один столбец",
    "df[['age', 'marital']]": "несколько столбцов"

}

def search_in(string, dct=pandas_methods):
    '''Функция поиска совпадений по подстроке, можно писать часть названия метода/функции
    или слово/часть слова из описания этой функции/метода'''
    return_list = []
    for name, info in dct.items():
        if string.lower() in name.lower() or string.lower() in info.lower():
            return_list.append({name: info})
    print(*(return_list), sep='\n'+ max(map(lambda x: len(str(x)), return_list))*'-'+'\n')

# Задание по теме 8

In [3]:
# скачайте датасет с помощью команды !gdown
!gdown --id '1TO3ZFteyoxQ1GQYrs9Y3hDSdhxXDpx1u'

/usr/local/lib/python3.9/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1TO3ZFteyoxQ1GQYrs9Y3hDSdhxXDpx1u
To: /content/players_22.csv
100% 13.6M/13.6M [00:00<00:00, 236MB/s]

In [4]:
# импортируйте библиотеку pandas
import pandas as pd

In [5]:
# прочитайте датасет и сохраните его в переменную df
df = pd.read_csv('players_22.csv')

<ipython-input-5-ad9c01067de1>:2: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('players_22.csv')

In [ ]:
# проведите визуальный обзор датасета
df.info

In [6]:
# создайте копию датафрейма, сохранив его в переменную df1
df1 = df.copy()

In [7]:
# список столбцов, которые необходимо исключить
columns = ['club_team_id',
 'league_level',
 'club_position',
 'club_jersey_number',
 'club_loaned_from',
 'club_joined',
 'club_contract_valid_until',
 'nationality_id',
 'nationality_name',
 'nation_team_id',
 'nation_position',
 'nation_jersey_number',
 'preferred_foot',
 'weak_foot',
 'skill_moves',
 'international_reputation',
 'work_rate',
 'body_type',
 'real_face',
 'release_clause_eur',
 'player_tags',
 'player_traits',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'physic',
 'attacking_crossing',
 'attacking_finishing',
 'attacking_heading_accuracy',
 'attacking_short_passing',
 'attacking_volleys',
 'skill_dribbling',
 'skill_curve',
 'skill_fk_accuracy',
 'skill_long_passing',
 'skill_ball_control',
 'movement_acceleration',
 'movement_sprint_speed',
 'movement_agility',
 'movement_reactions',
 'movement_balance',
 'power_shot_power',
 'power_jumping',
 'power_stamina',
 'power_strength',
 'power_long_shots',
 'mentality_aggression',
 'mentality_interceptions',
 'mentality_positioning',
 'mentality_vision',
 'mentality_penalties',
 'mentality_composure',
 'defending_marking_awareness',
 'defending_standing_tackle',
 'defending_sliding_tackle',
 'goalkeeping_diving',
 'goalkeeping_handling',
 'goalkeeping_kicking',
 'goalkeeping_positioning',
 'goalkeeping_reflexes',
 'goalkeeping_speed',
 'ls',
 'st',
 'rs',
 'lw',
 'lf',
 'cf',
 'rf',
 'rw',
 'lam',
 'cam',
 'ram',
 'lm',
 'lcm',
 'cm',
 'rcm',
 'rm',
 'lwb',
 'ldm',
 'cdm',
 'rdm',
 'rwb',
 'lb',
 'lcb',
 'cb',
 'rcb',
 'rb',
 'gk',
 'player_face_url',
 'club_logo_url',
 'club_flag_url',
 'nation_logo_url',
 'nation_flag_url']

In [8]:
# исключите столбцы списка columns из датафрейма, автоматически перезаписав его
df1.drop(columns=columns, inplace=True)

In [ ]:
print(*(word('tod')), sep='\n\n')

In [ ]:
# переведите значения признака 'dob' в формат datetime
df1['dob'] = pd.to_datetime(df1['dob'])
df1['dob']

In [ ]:
# рассчитайте актуальный возраст на текущий год (без учета дня и месяца рождения) и сохраните данные в столбец 'age_new'
cur_day = pd.Timestamp.today().year
df1['age_new'] = cur_day - df1.dob.apply(lambda x: x.year)
df1['age_new']

0        36
1        35
2        38
3        31
4        32
         ..
19234    24
19235    21
19236    23
19237    21
19238    21
Name: age_new, Length: 19239, dtype: int64

In [ ]:
# определите разницу в возрасте (количество лет) между футболистами под индексом 0 и 10017
df1['age_new']
df1['age_new'][0] - df1['age_new'][10017]

3

In [ ]:
# определите индекс массы тела футболистов, округлив результат до двух знаков после запятой
# запишите результаты в столбец 'imt'
# ИМТ = вес (в килограммах) : (рост (м))2
# вес - 'weight_kg', рост - 'height_cm'
df1['weight_kg']
df1['height_cm']
df1['imt'] = (df1['weight_kg'] / (df1['height_cm']/100)**2)
df1['imt']

0        24.913495
1        23.666910
2        23.735308
3        22.204082
4        21.366869
           ...
19234    19.753086
19235    22.857143
19236    22.724403
19237    22.052190
19238    21.872423
Name: imt, Length: 19239, dtype: float64

In [ ]:
# определите среднее значение ИМТ с помощью метода mean(), округлив результат до двух знаков после запятой
df1['imt'] = round(df1['imt'].mean(),2)
df1['imt']

0        22.77
1        22.77
2        22.77
3        22.77
4        22.77
         ...
19234    22.77
19235    22.77
19236    22.77
19237    22.77
19238    22.77
Name: imt, Length: 19239, dtype: float64

In [ ]:
print(*word('un'),sep='\n')

{"df.country.str.contains('platform')": "Проверяет все значения столбца 'country‘ датафрейма на вхождение подстроки 'platform'"}
{"mean = df['followers_count'].mean()": 'empty'}
{"df['followers_count'].fillna(mean, inplace=True)": "Заполнение пропущенных значений по столбцу 'followers_count‘ средним значением по этому столбцу (параметр inplace=True перезаписывает датафрейм)"}
{"pd.to_datetime(df.Series, unit='s', origin='unix')": 'Переводит объект Series, значения которого закодированы в Unix time в секундах, в формат datetime64'}
{'pd.Timestamp.utcfromtimestamp( df.Series)': 'Переводит объект Series, значения которого закодированы в Unix time в секундах, в формат datetime64'}
{'df.Series.unique()': 'Получение уникальных значений объекта Series  датафрейма'}
{'df.Series.str.count(‘s’)': 'Возвращает количество вхождений подстроки ‘s’ в строку объекта Series'}

In [9]:
# закодируйте значения по признаку 'player_positions' по условию:
# если указано одно значение, то присвоить 0, в противном случае - 1
# результаты сохраните в столбец 'player_positions_code'
# подсказка: количество значений можно определить как длину списка, определенного с помощью метода split()
df1['player_positions_code'] = df1['player_positions'].apply(lambda x: 0 if len(x.split())<=1 else 1)
df1['player_positions_code']

0        1
1        0
2        1
3        1
4        1
        ..
19234    0
19235    0
19236    0
19237    0
19238    0
Name: player_positions_code, Length: 19239, dtype: int64

In [10]:
# определите наиболее часто встречаемое значение по признаку 'player_positions_code'
# подсказка: используйте метод mode()
df1['player_positions_code'].mode()

0    1
Name: player_positions_code, dtype: int64

In [11]:
# закодируйте значения по признаку 'player_positions_code' с помощью словаря:
# 0: one, 1: several
# результаты сохраните в столбец 'player_positions_category'
player_positions_dict = {0: 'one', 1: 'several'}
df1['player_positions_category'] = df1['player_positions_code'].apply(lambda x: player_positions_dict[x] )
df1['player_positions_category']

0        several
1            one
2        several
3        several
4        several
          ...
19234        one
19235        one
19236        one
19237        one
19238        one
Name: player_positions_category, Length: 19239, dtype: object

In [ ]:
print(*word('sum'),sep='\n')

In [12]:
search_in('кол')

{'df.size': 'Показывает размеры датасета (количество ячеек: строки Х столбцы)'}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{'len(df)': 'Показывает длину датасета (количество наблюдений)'}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{'len(df.axes[1])': 'Показывает количество признаков в датасете (количество столбцов)'}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{'df.shape': 'Показывает размеры датасета (количество наблюдений и признаков)'}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{'df.columns': 'Вывод списка колонок (столбцов) датафрейма'}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{'df.duplicated().sum()': "Количество полных дубликатов (по умолчанию параметр keep='first‘ присваивает значение True первому из совпадений)"}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{"df.duplicated(subset=['bdate', 'sex'], keep=False).sum()": "Количество дубликатов по столбцам 'bdate', 'sex’ (параметр keep=False присваивает значения True всем найденным дубликатам)"}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{'df. isna().sum()': 'Количество пропущенных значений в датафрейме'}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{'df.notna().sum()': 'Количество заполненных значений в датафрейме'}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{"df['costs']. isna().sum()": 'Количество пропущенных значений по столбцу ‘costs’'}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{'current_year - df.bdate.apply(lambda x: x.year)': 'Расчет количества лет как текущий год за минусом года, извлеченного из даты рождения'}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{'df.Series.str.count(‘s’)': 'Возвращает количество вхождений подстроки ‘s’ в строку объекта Series'}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{"df.set_index('id', inplace=True)": 'меняем колонку index на id, inplace сохраняет изменения в датафрейме'}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{"df = pd.read_excel('partner_data.xlsx', sheet_name='partner_data1', header=0, index_col='id')": 'header — строка с заголовками, index_col — колонка с индексами'}
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{"df[['age', 'marital']]": 'несколько столбцов'}

In [15]:
# определите количество значений several по признаку 'player_positions_category'
# подсказка: для вывода булевых значений используйте оператор сравнения
# подсказка: для расчета количества используйте метод sum()
print(sum(1 for i in df1['player_positions_category'] if i=='several'))
len(df1['player_positions_category'])

19239

Переходите к тесту и ответьте на вопросы

In [13]:
df1['player_positions_category'].apply(lambda x: x=='several').sum()

9809