<a href="https://colab.research.google.com/github/EZSib/data_cleaning/blob/main/%D0%95%D1%84%D0%B8%D0%BC_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Описание датасета

![](https://storage.googleapis.com/kaggle-datasets-images/2766607/4779921/a6199db8893c599129662fe135b22a06/dataset-cover.jpeg?t=2022-12-28-03-16-10)
<br>Представлен датасет с информацией об игроках чемпионатов FIFA с 1930 по 2018 гг. (датасет выложен на платформе [Kaggle](https://www.kaggle.com/datasets/basharalkuwaiti/fifa-world-cup)).

**Формат файла** : *json*

**Ссылка на файл** : https://drive.google.com/file/d/1wSMgYdIsPARpYFNI18bUzrdF4jXjgr9I/view?usp=share_link

# Задание по теме 6

In [ ]:
# скачайте датасет с помощью команды !gdown
!gdown --id 1wSMgYdIsPARpYFNI18bUzrdF4jXjgr9I

/usr/local/lib/python3.9/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1wSMgYdIsPARpYFNI18bUzrdF4jXjgr9I
To: /content/teamPlayers.json
100% 2.55M/2.55M [00:00<00:00, 264MB/s]

In [ ]:
# импортируйте библиотеку pandas
import pandas as pd

In [ ]:
# прочитайте датасет и сохраните его в переменную df
df = pd.read_json('teamPlayers.json')

In [ ]:
# проведите визуальный обзор датасета
df.head()

,idCompetition,idTeam,teamName,playerId
0,0,43911,Mexico,"{'playerId': '46750', 'name': 'Oscar BONFIGLIO..."
1,0,43911,Mexico,"{'playerId': '50387', 'name': 'Rafael GARZA', ..."
2,0,43911,Mexico,"{'playerId': '57131', 'name': 'Manuel ROSAS', ..."
3,0,43911,Mexico,"{'playerId': '45536', 'name': 'Efrain AMEZCUA'..."
4,0,43911,Mexico,"{'playerId': '57129', 'name': 'Felipe ROSAS', ..."

In [ ]:
# создайте копию датафрейма, сохранив его в переменную df1
df1 = df.copy()

In [ ]:
# изучите структуру данных по одному из значений признака 'playerId'
df1['playerId'][0]

{'playerId': '46750',
 'name': 'Oscar BONFIGLIO',
 'shirtNumber': None,
 'captain': False,
 'position': 0}

In [ ]:
df1['playerId'][0]['name']

'Oscar BONFIGLIO'

In [ ]:
df1['playerId'][0]['name'].split()

['Oscar', 'BONFIGLIO']

In [ ]:
# распакуйте значения по ключу 'name' в столбец с полным именем и в столбец, содержащий только фамилии футболистов
def player_name(data):
  return data['name'].split()[0]
   

def player_surname(data):
  return data['name'].split()[-1]

In [ ]:
df1['player_name'] = df1['playerId'].apply(player_name)

In [ ]:
df1['player_surname'] = df1['playerId'].apply(player_surname)

In [ ]:
df1[["player_surname"]]

      player_surname
0          BONFIGLIO
1              GARZA
2              ROSAS
3            AMEZCUA
4              ROSAS
...              ...
10775        GOLOVIN
10776         CHADLI
10777          FEKIR
10778        KOVACIC
10779           DIER

[10780 rows x 1 columns]

In [ ]:
df1[["player_name"]]

      player_name
0           Oscar
1          Rafael
2          Manuel
3          Efrain
4          Felipe
...           ...
10775   Aleksandr
10776       Nacer
10777       Nabil
10778       Mateo
10779        Eric

[10780 rows x 1 columns]

In [ ]:
# распакуйте значения по ключам 'captain', 'position' в отдельные столбцы
def player_captain(data):
  return data['captain']

def player_position(data):
  return data['position']

In [ ]:
df1['player_captain'] = df1['player_info'].apply(player_captain)

In [ ]:
df1['player_position'] = df1['player_info'].apply(player_position)

In [ ]:
# проведите визуальный обзор датасета
df1.head()

,idCompetition,idTeam,teamName,playerId
0,0,43911,Mexico,"{'playerId': '46750', 'name': 'Oscar BONFIGLIO..."
1,0,43911,Mexico,"{'playerId': '50387', 'name': 'Rafael GARZA', ..."
2,0,43911,Mexico,"{'playerId': '57131', 'name': 'Manuel ROSAS', ..."
3,0,43911,Mexico,"{'playerId': '45536', 'name': 'Efrain AMEZCUA'..."
4,0,43911,Mexico,"{'playerId': '57129', 'name': 'Felipe ROSAS', ..."

In [ ]:
# переименуйте столбец 'playerId' в 'player_info'
# (автоматически перезапишите датафрейм)
df1.rename(columns = {'playerId' : 'player_info'}, inplace=True)

In [ ]:
df1.head()

,idCompetition,idTeam,teamName,player_info
0,0,43911,Mexico,"{'playerId': '46750', 'name': 'Oscar BONFIGLIO..."
1,0,43911,Mexico,"{'playerId': '50387', 'name': 'Rafael GARZA', ..."
2,0,43911,Mexico,"{'playerId': '57131', 'name': 'Manuel ROSAS', ..."
3,0,43911,Mexico,"{'playerId': '45536', 'name': 'Efrain AMEZCUA'..."
4,0,43911,Mexico,"{'playerId': '57129', 'name': 'Felipe ROSAS', ..."

In [ ]:
  # определите, сколько раз встречается фамилия GOLOVIN по признаку player_surname
  df1.player_surname.str.contains('GOLOVIN').sum()

AttributeError: ignored

In [ ]:
# выведите все записи по футболисту с фамилией GOLOVIN
df1[df1.player_surname.str.contains('GOLOVIN')]

,idCompetition,idTeam,teamName,player_info,player_name,player_surname
9702,20,43965,Russia,"{'playerId': '371639', 'name': 'Aleksandr GOLO...",Aleksandr,GOLOVIN
10558,20,43965,Russia,"{'playerId': '371639', 'name': 'Aleksandr GOLO...",Aleksandr,GOLOVIN
10775,20,43965,Russia,"{'playerId': '371639', 'name': 'Aleksandr GOLO...",Aleksandr,GOLOVIN

In [ ]:
# исключите футболиста с фамилией GOLOVIN из датафрейма по номерам индексов
# (автоматически перезапишите датафрейм)
df1.drop([9702, 10558, 10775], inplace=True)

In [ ]:
# определите, сколько осталось записей после исключения футболиста с фамилией GOLOVIN
df1.shape

(10777, 6)

In [ ]:
# запишите полученный датафрейм в формат json и сохраните его в переменную df2
df2 = df1.to_json()

In [ ]:

# определите тип данных переменной df2
type(df2)

str

In [ ]:
# импортируйте модуль json
import json

In [ ]:
# прочитайте переменную df2 с помощью методов модуля json и сохраните данные в переменную df3
df3 = json.loads(df2)

In [ ]:
# определите фамилию футболиста по ключу '10700'
df3['player_surname']['10700']

Переходите к тесту и ответьте на вопросы